In [10]:
import matplotlib.pyplot as plt

In [12]:
import numpy as np
import pandas as pd

%matplotlib inline

In [13]:
from datetime import datetime

In [14]:
my_year = 2017

In [15]:
my_month = 1
my_day = 2
my_hour = 13
my_minute = 30
my_second = 15
my_date = datetime(my_year,my_month,my_day)

In [16]:
my_date

datetime.datetime(2017, 1, 2, 0, 0)

In [17]:
my_date_time = datetime(my_year,my_month,my_day,my_hour,my_minute,my_second)

In [18]:
type(my_date_time)

datetime.datetime

In [19]:
my_date_time.day

2

In [20]:
my_date_time.month

1

In [21]:
first_two = [datetime(2016,1,1),datetime(2016,1,2)]

In [22]:
type(first_two)

list

In [23]:
dt_ind = pd.DatetimeIndex(first_two)

In [24]:
dt_ind

DatetimeIndex(['2016-01-01', '2016-01-02'], dtype='datetime64[ns]', freq=None)

In [25]:
data = np.random.randn(2,2)

In [26]:
data

array([[-0.61190747,  0.77907325],
       [ 0.10114555, -1.02746126]])

In [27]:
cols = ['a','b']

In [28]:
df = pd.DataFrame(data,dt_ind,cols)

In [29]:
df

                   a         b
2016-01-01 -0.611907  0.779073
2016-01-02  0.101146 -1.027461

In [30]:
df.index.argmax()

1

In [31]:
df.index.max()

Timestamp('2016-01-02 00:00:00')

In [32]:
df.index.argmin()

0

In [33]:
df.index.argmax()

1